body{
    background-image: url(img/bg.jpg) ;
    
    
}
.container
{
    background-color: white;
    margin-top: 150px;
}
.main
{
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: 80px;
}
